/* Estilo para o container das escolhas */
.escolha-container {
    display: flex;
    margin-bottom: 1rem;
    width: 45%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #4CAF50;
    background-color: rgba(2, 0, 13, 0.8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    transition: background-color 0.3s ease, border 0.3s ease;
}

/* Efeito ao passar o mouse sobre o container de escolhas */
.escolha-container:hover {
    cursor: pointer;
    box-shadow: 0 0.6rem 2rem rgba(18, 88, 27, 0.5);
    transform: translateY(-0.2rem);
    border: 1px solid #00ff88;
    background-color: rgba(238, 245, 242, 0.185);
}

/* Estilo para o prefixo da escolha */
.escolha-prefixa {
    padding: 1rem 1.5rem;
    background-color: #146b2a;
    color: #ffffff;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Estilo para o texto da escolha */
.escolha-texto {
    padding: 1rem;
    color: #ffffff;
    font-size: 1.2rem;
    flex-grow: 1;
}

/* Estilo para respostas corretas */
.correto {
    background-color: rgba(0, 247, 0, 0.926); /* Cor de fundo para resposta correta */
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.5)
}

/* Estilo para respostas incorretas */
.incorreto {
    background-color: rgb(123, 20, 20); /* Cor de fundo para resposta incorreta */
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

/* HUD (Heads-Up Display) */
#hud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

/* Estilo para o prefixo do HUD */
.hud-prefixo {
    text-align: center; /* Centraliza o texto */
    font-size: 2.5rem; /* Tamanho da fonte */
    color: #164b24; /* Cor do texto */
}

/* Estilo para o texto principal do HUD */
.hud-texto-principal {
    text-align: center;
    font-size: 2rem;
    color: #00ff88;
}

/* Estilo da barra de progresso */
#progressoBarra {
    width: 100%;
    height: 2rem;
    border: 0.3rem solid #4CAF50;
    border-radius: 5px;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.1);
}

/* Estilo da parte cheia da barra de progresso */
#progressoBarraCheia {
    width: 0;
    height: 100%;
    background-color: #4CAF50;
    transition: width 0.3s ease;
}

/* Estilo do botão de resposta */
#botao-resposta {
    background-color: #4CAF50;
    color: #fff;
    padding: 15px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#botao-resposta:hover {
    background-color: #45a049;
}

/* Classe para esconder elementos */
.hidden {
    display: none; /* Oculta o elemento */
}

/* Classe para mostrar elementos */
.mostrar {
    display: block; /* Exibe o elemento como um bloco */
}

/* Estilo para a explicação do cenário */
#explicacao-cenario {
    margin-bottom: 20px;
    padding: 20px;
    color: #ccc;
    transition: opacity 0.5s; /* Suaviza a transição de opacidade */
}

/* Estilo para a imagem da pergunta */
#imagem-pergunta {
    width: 100%; /* Ocupa toda a largura disponível */
    max-width: 600px; /* Define um tamanho máximo para a imagem */
    max-height: 330px;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredonda os cantos da imagem */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para destaque */
    margin-bottom: 15px; /* Espaçamento abaixo da imagem */
    padding: 1rem; /* Espaçamento interno da imagem */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color:  transparent;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #ccc; 

}

    
@media screen and (max-width: 600px) {
    #hud {
        flex-direction: column-reverse;
    }
    #hud-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #hud-item-02 {

        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }
    #progressoBarra{
        width: 100%;
        max-width: 20rem;
        min-height: 2rem;
    }   
    
   p {
    overflow: hidden;
    text-align: justify;
   }     

   .escolha-container {
    width: 100%;
    max-width: 80%;
   }
}

@media screen and (max-width: 320px) {
    #imagem-pergunta {
        max-width: 280px;
    }

    #progressoBarra{
        width: 100%;
        max-width: 15rem;
        min-height: 2rem;
    }   
}

/* ESTILIZAÇÃO DA FONTE DAS QUESTÕES */

@font-face {
    font-family: "Baskervville SC";
    src: url(../Assets/Baskervville_SC/BaskervvilleSC-Regular.ttf);
    font-weight: normal;
    font-style: 400;
  }  

/* Estilo para o body com tema apocalíptico */
body {
    background-color: #2e2e2e; /* Fundo cinza escuro, lembrando metal e destruição */
    background-image: url('../Assets/Apocalypse\ zumbi.jpg'); /* Imagem de fundo apocalíptica */
    background-size: cover;
    background-position: center;
    color: #f4f4f4; /* Cor do texto para contraste com o fundo sombrio */
    font-family: 'Baskervville SC', serif; /* Fonte de aspecto antigo e sério */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Estilo do container principal com tema apocalíptico */
.container {
    max-width: 1100px;
    padding: 20px;
    margin: 20px;
    background-color: rgba(20, 20, 20, 0.9); /* Fundo quase preto translúcido */
    border: 2px solid #4e4e4e; /* Bordas cinza metálico */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.7); /* Sombra mais forte para dar um aspecto de profundidade */
}

h2 {
    font-family: "Baskervville SC", serif;
    color: #ccc;
    text-align: center;
}

p {
    font-family: "Baskervville SC", serif;
    font-weight: 900;
}